<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<title>Admin Playlists</title>
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center text-warning">Add Song PlayList</h2>

    <a th:href="@{/Admin/products/add}" class="btn btn-success  ms-auto">Add Songs</a>
    <br>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Song_Id</th>
                <th>Song_Name</th>
                <th>Duration</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- start of product loading process -->
            <tr th:each="playlist : ${products}">
                <td th:text="${playlist.song_id}"></td>
                <td th:text="${playlist.song_name}"></td>
                <td th:text="${playlist.song_img}"></td>

                <td>
                    <img th:src="@{'/image/' + ${playlist.song_img}}" style="width:80px;height:80px">
                </td>
                <td>
                    <a th:href="@{/Admin/products/delete(id=${playlist.song_id})}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>